button {
  background-color: transparent;
  border: 0;
}
.cta-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: hsl(60, 78%, 58%);
  padding-block: 0.8rem;
  padding-inline: 1.8rem;
  border-radius: 100vmax;
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 2px solid var(--white);
  box-shadow: 0 0 1rem hsl(60, 78%, 58%);
  transition: 0.5s;
  z-index: 2;
}
.cta-btn:hover {
  box-shadow: 0 0 2rem hsl(60, 78%, 58%);
  scale: 1.06;
}
.scroll-down-btn {
  right: 1rem;
  animation: scroll-down-btn 2s ease-in-out alternate infinite;
}
@keyframes scroll-down-btn {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}
.scroll-to-top-btn {
  transition: 0.2s;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--black);
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: 0 5px 10px var(--black);
  z-index: 2;
}
.scroll-to-top-btn[data-visible="true"] {
  opacity: 1;
}
.scroll-to-top-btn[data-visible="false"] {
  opacity: 0;
}
.scroll-to-top-btn:hover {
  background-color: #2e2e2e;
  cursor: pointer;
}
/* back to top */
.back-to-top-btn {
  background-color: var(--black);
  color: var(--white);
  border-radius: 100vmax;
  aspect-ratio: 1;
  width: 50px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid hsl(0, 0%, 16%);
  transition: 0.2s;
  display: grid;
  place-items: center;
  z-index: 5;
  cursor: pointer;
}
.back-to-top-btn:hover {
  background-color: hsl(0, 0%, 7%);
}
.back-to-top-btn[data-visible="false"] {
  opacity: 0;
  pointer-events: none;
}
.back-to-top-btn[data-visible="true"] {
  opacity: 1;
  pointer-events: visible;
}
.contact-form__input-submit {
  font-family: inherit;
  font-size: 20px;
  background-color: hsl(120, 37%, 46%);
  color: var(--white);
  padding: 0.4em 1em;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 100vmax;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  cursor: pointer;
  margin-inline: auto;
}
.contact-form__input-submit:hover {
  background-color: hsl(120, 37%, 50%);
}

.contact-form__input-submit span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-form__input-submit svg {
  display: block;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.contact-form__input-submit:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact-form__input-submit:hover svg {
  -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact-form__input-submit:hover span {
  -webkit-transform: translateX(1.7em);
  -ms-transform: translateX(1.7em);
  transform: translateX(1.7em);
}

.contact-form__input-submit:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
    transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
}

@keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
    transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
}

.contact-form__input-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  cursor: pointer;
}
.posalji-upit-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  /* letter-spacing: 1px; */
  gap: 0.5rem;
  color: var(--dark);
  border-radius: 100vmax;
  background-color: var(--white);
  outline: 2px solid hsl(0, 63%, 36%);
  padding-block: 0.7rem;
  padding-inline: 1.8rem;
  text-transform: capitalize;
  font-size: 1rem;
  width: max-content;
  transition: 0.2s;
  margin-inline: auto;
  cursor: pointer;
}
.posalji-upit-btn:hover {
  scale: 1.05;
  box-shadow: 0 0 1.5rem hsl(0, 0%, 100%);
}
